html{
    box-sizing: border-box;
    background: #ffc600;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
}

body{
    margin: 0px;
}

*, *::before, * ::after{
    box-sizing: inherit;
}

.panels{
    min-height: 100vh;
    overflow: hidden;
    display: flex;
}

.panel{
    background: #ffe8d6;
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
    color: #ffffff;
    text-align: center;
    align-items: center;
    /*Safari transitioned event.propertyName === flex
    Chrome + FF transitioned event.propertyName === flex-grow*/
    transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    background 0.2s;
    font-size: 20px;
    background-size: cover;
    background-position: center;
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.panel1{background-image: url(https://i.picsum.photos/id/452/1500/1500.jpg?hmac=gHodvwUK_ALpfKBFe_czAV4Sq7Zg6Ps4mHQ_uh54OTI);}
.panel2{background-image: url(https://i.picsum.photos/id/537/1500/1500.jpg?hmac=IOkSjdk-86V_iAhmve7j45D06XWjsVi35Ns3I45xV2Q);}
.panel3{background-image: url(https://i.picsum.photos/id/646/1500/1500.jpg?hmac=fDk0BY3jL4EabJnYkrxXFlpdNbj2ux91MelfUQcMoaw);}
.panel4{background-image: url(https://i.picsum.photos/id/177/1500/1500.jpg?hmac=hWc8TZG9fVhl5SIjqp1NrMqgHhrtJlZ6kEKGC2y72N8);}
.panel5{background-image: url(https://i.picsum.photos/id/903/1500/1500.jpg?hmac=WmKbjRFtB3t2aPduNftAJ2cPv6YUQB7TTuq4s7KAdA8);}

/***Flex Items***/
.panel > * {
    margin: 0px;
    width: 100%;
    transition: transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel > *:first-child {transform: translateY(-100%);}
.panel.open-active > *:first-child {transform: translateY(0);}
.panel > *:last-child {transform: translateY(100%);}
.panel.open-active > *:last-child {transform: translateY(0);}

.panel p{
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 2em;
}

.panel p:nth-child(2){
    font-size: 4em;
}

.panel.open{
    flex: 5;
    font-size: 40px;
}

@media only screen and (max-width: 600px){
    .panel p{
        font-size: 1em;
    }
}